@page "/addresses"
@using XeppIT.ZoneElectrical.Unclassified
@using XeppIT.ZoneElectrical.Rolodex.Addresses.Model

@inject RolodexService RolodexService
@inject NavigationArgs NavigationArgs

@if (AddressList == null)
{
    <div class="spinner"></div>
}
else
{
    <AuthorizeView Roles="EMPLOYEE">
        <Authorized>
            <Row>
                <Column>
                    <Card Margin="Margin.Is4.OnY">
                        <CardHeader>
                            <CardTitle>Address List</CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Fields>
                                <Field>
                                    <Button Color="Color.Primary" @onclick="GoToNewAddressPage">Create New</Button>
                                </Field>
                                <Field>
                                    <TextEdit Placeholder="Search..." Text="@_nameSearchString" TextChanged="@OnSearchChanged" />
                                </Field>
                            </Fields>
                        </CardBody>
                        <CardBody>
                            <Table Narrow="true">
                                <TableHeader>
                                    <TableRow>
                                        <TableHeaderCell>Name</TableHeaderCell>
                                        <TableHeaderCell>Street</TableHeaderCell>
                                        <TableHeaderCell>Town</TableHeaderCell>
                                        <TableHeaderCell>Postcode</TableHeaderCell>
                                        <TableHeaderCell>Edit</TableHeaderCell>
                                        <TableHeaderCell>Delete</TableHeaderCell>
                                    </TableRow>
                                </TableHeader>
                                <TableBody>
                                    @foreach (var address in AddressList)
                                    {
                                        <TableRow>
                                            <TableRowCell>@address.Name</TableRowCell>
                                            <TableRowCell>@address.Street</TableRowCell>
                                            <TableRowCell>@address.Town</TableRowCell>
                                            <TableRowCell>@address.Postcode</TableRowCell>
                                            <TableRowCell>
                                                <Button @onclick="() => GoToEditAddressPage(address)">
                                                    <Icon Name="IconName.Edit" />
                                                </Button>
                                            </TableRowCell>
                                            <TableRowCell>
                                                <Button @onclick="() => Delete(address)">
                                                    <Icon Name="IconName.Delete" />
                                                </Button>
                                            </TableRowCell>
                                        </TableRow>
                                    }
                                </TableBody>
                            </Table>
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </Authorized>
        <NotAuthorized>
            <p>You're not logged in as admin.</p>
        </NotAuthorized>
    </AuthorizeView>
}


@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    List<Address> AddressList { get; set; }

    private string _nameSearchString;

    protected override async Task OnInitializedAsync()
    {
        AddressList = await RolodexService.FindAllAddressesAsync();
    }

    public async Task RefreshList()
    {
        var addressList = await RolodexService.FindAllAddressesAsync();

        AddressList.Clear();

        foreach (var address in addressList)
        {
            AddressList.Add(address);
        }

        StateHasChanged();
    }

    async Task OnSearchChanged(string searchString)
    {
        _nameSearchString = searchString;

        var addressList = await RolodexService.FindAllAddressesByNameAsync(searchString);

        AddressList.Clear();

        foreach (var address in addressList)
        {
            AddressList.Add(address);
        }

        StateHasChanged();
    }

    void GoToNewAddressPage()
    {
        NavigationArgs.NavigateTo("NewAddress", "Addresses");
    }

    void GoToEditAddressPage(Address address)
    {
        NavigationArgs.NavigateTo("EditAddress", "Addresses", address);
    }

    async Task Delete(Address address)
    {
        await RolodexService.DeleteAddressAsync(address);

        await RefreshList();

        StateHasChanged();
    }
}
