@page "/"


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<XInput Id="name" Label="Raaaa" Placeholder="" CustomCss="" @bind-value="boobs" ValidationRule="@InputValidationRule" ></XInput>
<label>@boobs</label>

<XSelect @bind-ListSelectedValue="@SelectedValue" Data="@list" TItem=Model ValidationRule="@SelectValidationRule" />

<Component1></Component1>


<label>@SelectedValue.ToString()</label>

@code {

    private string boobs = "";

    string InputValidationRule(string input)
    {
        if (input.Contains("@"))
        {
            return "Input cannot contain @";
        }

        return "";
    }

    string SelectValidationRule(Model input)
    {
        if (input == null)
        {
            return "Please select a value.";
        }

        return "";
    }

    private Model SelectedValue { get; set; } = new Model();

    IEnumerable<Model> list;

    protected override void OnInitialized()
    {
        list = new List<Model>()
        {
            new Model() { a = Guid.NewGuid().ToString(), b = Guid.NewGuid().ToString(), c = Guid.NewGuid().ToString() },
        new Model() { a = Guid.NewGuid().ToString(), b = Guid.NewGuid().ToString(), c = Guid.NewGuid().ToString() },
        new Model() { a = Guid.NewGuid().ToString(), b = Guid.NewGuid().ToString(), c = Guid.NewGuid().ToString() }
        };
    }

    public class Model
    {
        public string a { get; set; }
        public string b { get; set; }
        public string c { get; set; }
        public override string ToString()
        {
            return a;
        }
    }

    

}